/* body {
         background-color: black; 
        color: white;
      } */
/* h3{
        text-transform: capitalize;
      } */

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  background-color: #222;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  padding: 30px;
  /* display: flex;
        align-items: center;
        justify-content: center; */
  width: 100%;
  height: 100%;
  background-color: #222;
}
/* input {
        display: none;
      } */
/* h1{
      color: #555;
      font-size: 10rem;
      font-weight: 600;
      user-select: none;
      letter-spacing: 0rem;
    } */

/* #btn {
         padding: 12px 22px;
        background-color: rgb(41, 143, 114);
        color: white;
        border-radius: 10px;
        font-weight: 600;
      }

      #main #btn:hover{
        background-color: rgb(23, 82, 65);
      }

      input{
        display: block;
        color: white;
        border-color: white;
        border-radius: 3px;
      } */

/* .card{
        color: white;
        max-width: 200px;
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        border: 2px solid #ffffff;
        display: inline-block;
      }
      .profile {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: red;
        margin-bottom: 10px;
        overflow:hidden;
      }
      .profile img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .card h5{
        margin-top: 3px;
      }
      .card p{
        font-size: 12px;
        margin-top: 10px;
      } */

/* #abcd1{
        width: 400px;
        height: 400px;
        background-color: red;
      } */

/* body {
        overflow: hidden;
      } */
/* #abcd {
        position: absolute; / top andleft only works in postion absolute /
        / transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s; /
        / stop page expanding  apply in main div for now add in body /
        width: 400px;
        height: 400px;
        background-color: red;
      } */
